<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выберите алгоритм</h1>
        <ul class="algorithm-list">
            {% for key, name in algorithms.items() %}
            <li><a href="/visualize/{{ key }}" class="algorithm-link">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
